<div class="right">
    <!-- <div class="content-wrapper"> -->
    	<p>About Me</p>
    <!-- </div> -->
</div>
        <!--<div class="tab-content about-tab-wrapper">
            <div class="title" id="about">About</div>
            <div class="content">Live, laugh, eat, hike, think, code, and create.</div>
        </div>
        <div class="tab-content projects-tab-wrapper">
            <div class="title">Projects</div>
            <ul class="projects-list"> 
                <li>
                    <a class="content" href="http://bpkazemi.github.io/NTVisual">Nassim Taleb Visualization</a>
                </li> -->
                <!-- <li>
                    <a class="content" href="http://bpkazemi.github.io/RuleOfThree">The Rule of Three (being built!)</a>
                </li> -->
                <!-- <li>Leap Motion DJ</li> -->
            <!-- </ul>
        </div> -->
        <!-- <div class="tab-content projects-tab-wrapper">
            <div class="title">Favorite Apps</div>
            <ul class="projects-list"> 
                <li>
                    NFC Task Launcher
                </li>
                <li>
                    Shazam
                </li> -->
                <!-- <li>
                    <a class="content" href="http://bpkazemi.github.io/RuleOfThree">The Rule of Three (being built!)</a>
                </li> -->
                <!-- <li>Leap Motion DJ</li> -->
            <!-- </ul>
        </div> -->
      <!--   <div class="tab-content blog-tab-wrapper">
            <div class="title" id="blog">Blog</div>
            <div class="content blog-post">
                Hang with Heavyweights
            </div>
        </div>
        <div class="tab-content bucketlist-tab-wrapper">
            <div class="title" id="bucket list">Bucket List</div>
            <ol class="content">
                <li><del>Skydive</del></li>
                <li>Climb a mountain</li>
                <li>Camp out for a week</li>
                <li>Live abroad for >= 3 weeks</li>
                <li>Start a company</li>
                <li>Live in a city</li>
                <li>Go to space</li>
                <li>Get a dog</li>
            </ol>
        </div>
    </div>

    <div class="quote">Make life good.</div>
</div>