/* Variables */
/* --------- */
p.name {
  position: relative;
  font-family: kavoon;
  font-size: 50px;
  top: 200px;
  left: 100px;
  color: #bababa; }

p.message {
  position: relative;
  font-family: kavoon;
  font-size: 30px;
  top: 155px;
  left: 138px;
  color: #555555; }

div.title {
  position: relative;
  float: right;
  right: 450px;
  font-family: kavoon;
  font-size: 50px;
  color: #bababa; }

a.project {
  position: relative;
  float: right;
  top: 80px;
  font-family: kavoon;
  font-size: 30px;
  color: #555555;
  text-decoration: none; }
